
            
            .head{
                background-color: dimgray;color: ghostwhite;font-weight: bold;font-size: 30px;
                text-align: center;padding: 10px;
            }
            body{
                padding:0;
                margin:0;
            }
            header{
            background-color:#888888;
            font-weight: 100;
            }
            .content
            {
                margin: auto;
                width: 300px;
            }
            .box
            {
                margin: auto;
                width: 280px;padding: 10px;margin: 10px;background-color: white;
                text-align: center;
                height: 150px;
                line-height: 30px;
            }
            .title
            {
                font-size: large;
                font-weight: bold;
            }
            a
            {
                color: black;
            }
            .box1
            {
                width: 280px;padding: 10px;margin: 10px;background-color: white;
                height: 150px;
                line-height: 30px;
            }
        